services:
  controller:
    build: ./actors/controller/
    networks:
      - control
    volumes:
    - ./scripts:/scripts
  ids:
    build: ./actors/ids/
    networks:
      - sim_net
      - control
    volumes: 
      - ./scripts:/scripts
      - ./ids_logs:/app/logs # For detection logging
  actor1:
    build: ./actors/actor1/
    networks:
      - sim_net
      - control
    volumes: 
      - ./scripts:/scripts
  actor2:
    build: ./actors/actor2/
    networks:
      - sim_net
      - control
    volumes: 
      - ./scripts:/scripts
    expose:
      - "8000"
  zigbee_hub:
    build: ./actors/zigbee_hub/
    networks:
      - sim_net
      - control
    volumes: 
      - ./scripts:/scripts

networks:
  control:
    driver: bridge
    attachable: true
    ipam:
      config:
        - subnet: 172.28.0.0/24
  sim_net:
    driver: bridge
    attachable: true
    ipam:
      driver: default
      config:
        - subnet: 172.29.0.0/16