services:
  actor1:
    build: ./actors/actor1/
  actor2:
    build: ./actors/actor2/
  zigbee_hub:
    build: ./actors/zigbee_hub/

networks:
  default:
    name: sim_net
    driver: bridge
    attachable: true
