services:
  controller:
    build: ./actors/controller/
    networks:
      control:
    volumes:
    - ./scripts:/scripts
    - ./logs:/logs
  ids:
    build: ./actors/ids/
    cap_add:
      - NET_RAW
      - NET_ADMIN
    network_mode: host
    volumes: 
      - ./scripts:/scripts
      - ./logs:/logs
  actor1:
    build: ./actors/actor1/
    networks:
      control:
        gw_priority: 1
        aliases: 
          - actor1_control
      sim_net:
        aliases:
          - actor1_sim
    volumes: 
      - ./scripts:/scripts
      - ./logs:/logs
  actor2:
    build: ./actors/actor2/
    networks:
      control:
        gw_priority: 1
        aliases:
          - actor2_control
      sim_net:
        aliases:
          - actor2_sim
    volumes: 
      - ./scripts:/scripts
      - ./logs:/logs
    expose:
      - "8000"
  phillips_hue:
    build: ./actors/phillips_hue/
    cap_add:
      - NET_RAW
      - NET_ADMIN
    networks:
      control:
        gw_priority: 1
        aliases:
          - phillips_hue_control
      sim_net:
        aliases:
          - phillips_hue_sim
    volumes: 
      - ./scripts:/scripts
      - ./logs:/logs
      - ./pcaps:/pcaps
  zigbee_hub:
    build: ./actors/zigbee_hub/
    networks:
      control:
        gw_priority: 1
        aliases:
          - zigbee_hub_control
      sim_net:
        aliases:
          - zigbee_hub_sim
    volumes: 
      - ./scripts:/scripts
      - ./logs:/logs

networks:
  control:
    driver: bridge
    attachable: true
    ipam:
      config:
        - subnet: 172.28.0.0/16
  sim_net:
    driver: bridge
    attachable: true
    ipam:
      driver: default
      config:
        - subnet: 172.29.0.0/16